<template>
  <div>
    <h1>игры </h1>
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <GamingCardInfo></GamingCardInfo>
        </div>
        <div class="col-sm-6">
          <GamingCardInfo></GamingCardInfo>
        </div>
        <div class="col-sm-6">
          <GamingCardInfo></GamingCardInfo>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import GamingCardInfo from "../../components/gaming/GamingCardInfo";

export default {
  name: "GamingInfo",
  components: {
    GamingCardInfo
  }
}
</script>

<style scoped>

</style>