<template>
  <div class="gaming-card">
    <img class="gaming-img" src="./gaming.jpg" alt="">
    <h4>Оглавление</h4>
    <h5>Описание Описание Описание Описание Описание Описание Описание Описание Описание Описание Описание Описание Описание Описание Описание Описание Описание</h5>
  </div>
</template>

<script>
export default {
  name: "GamingCardInfo"
}
</script>

<style scoped>
  .gaming-card{
    background: #C5CDDEFC;
    padding: 20px;
    margin: 20px 0 ;
    border-radius: 20px;
    width: initial;
    height: initial;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
  }
  .gaming-img{
    width: 100%;
    height: 80%;
    border-radius: 15px;
  }
</style>