<template>
  <div style="display: flex">
    <div class="dashboard">
      <h3>{{pageName}}</h3>
      <hr>
      <Menu></Menu>
    </div>
    <div class="pages">
      <router-view></router-view>
    </div>
  </div>
</template>

<script>
import Menu from "./Menu";
export default {
  name: "Dashboard",
  components:{
    Menu
  },
  watch:{
    $route (val){
      this.pageName = val.name
    }
  },
  data(){
    return{
      pageName:this.$route.name,
    }
  }
}
</script>

<style scoped>
.dashboard {
  display: block;
  padding: 10px 20px;
  background: #e3d8d86e;
  border-radius: 10px;
  height: 100vh;
  width: 200px;
}
.pages{
  display: flex;
  padding: 10px 20px;
}
</style>