<template>
  <div>
    <ul>
      <li class="go-view" @click="RouterPush('gaming')"> Игры</li>
      <li class="go-view" @click="RouterPush('about')">О Разработчике</li>
    </ul>
  </div>
</template>


<script>
export default {
  name: "Menu",
  methods:{
    RouterPush(path){
      this.$router.push(`/${path}`);
    }
  }
}
</script>

<style scoped>
  .go-view{
    margin: 10px 0;
    cursor: pointer;
  }
</style>